@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden; 
    background-color: #212121;
    color: white;
}

#root{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    gap: 30px;
}

#map{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/* SIDEBAR */
#sidebar{
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 30px;
    padding: 20px;
    border-radius: 15px;
    background-color: #2C2C2C;
}

#sidebar h1{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}
#sidebar h1 span{
    font-weight: 400;
}

#sidebar .option{
    display: flex;
    gap: 8px;
    align-items: center;
    background: none;
    border: none;

    font-size: 16px;
    font-weight: 400;
    color: #A3A3A3;
    cursor: pointer;
}
#sidebar .option:hover{
    color: white;
}
#sidebar .option.selected{
    color: #5BE0CC;
}

#sidebar h2{
    font-size: 16px;
    font-weight: 400;
    color: #A3A3A3;
}

#sidebar .filter{
    display: flex;
    gap: 8px;
    align-items: center;
    background: none;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;

    font-size: 16px;
    font-weight: 400;
    color: #A3A3A3;
    cursor: pointer;
}
#sidebar .filter:hover{
    transition: scale 0.5s ease;
    scale: 1.05;
}
#sidebar .filter.selected:hover{
    scale: 1;
    background-color: rgb(47, 47, 47);
}
#sidebar .filter.selected{
    transition: background-color 0.2s ease;
    background-color: #343434;
}

.separator{
    width: 100%;
    height: 1px;
    background-color: #595959;
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl-geocoder--powered-by, .mapboxgl-ctrl-attrib{
    display: none !important;
}



/* POPUP HOTEL */
.mapboxgl-popup {
    max-width: 300px !important;
    width: 300px !important;
}
.mapboxgl-popup-content{
    border-radius: 10px !important;
}

.popup-hotel{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 15px;
    padding: 0px 10px;
    padding-top: 20px;
    color: black;
    overflow: hidden;
}
.indicator{
    position: absolute;
    padding: 5px 10px;
    border-radius: 5px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: white;
}
.popupicon{
    position: absolute;
    color: #1e3050;
    font-size: 120px;
    opacity: 0.12;
    right: -40px;
}

.popup-hotel .header{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.popup-hotel .header h1{
    font-weight: 600;
    font-size: 18px;
}

.popup-hotel .header .stars{
    display: flex;
    gap: 4px;
    align-items: center;
}
.popup-hotel .header .stars h2{
    font-weight: 500;
    font-size: 15px;
}
.popup-hotel .header .stars i{
    color: #dea31b;
    font-size: 12px;
    margin-bottom: 1px;
}

.popup-hotel .content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.popup-hotel .content p{
    font-size: 13px;
    font-weight: 600;
}
.popup-hotel .content span{
    font-weight: 300;
}

.popup-hotel .icons{
    display: flex;
    gap: 10px;
}
.popup-hotel .icons i{
    font-size: 14px;
}


/* POPUP ATTRACTION */
.popup-attraction{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    color: black;
    overflow: hidden;
}
.handicap{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: #145197;
}

.popup-attraction h1{
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    text-align: center;
}
.popup-attraction p{
    font-size: 10px;
    font-weight: 600;
}
.popup-attraction  span{
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
}



.map-info{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(4px);
}

.toggle-style{
    position: absolute;
    right: 20px;
    top: 28px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    opacity: 0.7;
    font-size: 18px;
}
.toggle-style:hover{
    transition: all 0.4s ease;
    opacity: 1;
}





@media only screen and (max-width: 600px) {
    #root{
        flex-direction: column;
    }
    #sidebar{
        order: 1;
        width: 100%;
        height: 300px;
        overflow: scroll;
    }